body{
	margin:0px;
	background-color:black;
}
#container{
	width:960px;
	height:640px;
	background-color:#444;
	overflow:hidden;
}
#slots{
	width:960px;
	height:640px;
	background-image:url(../img/slots.png);
	position:absolute;
	z-index:1;
}
.coluna{
	width:224px;
	height:299px;
	margin-right:10px;
	border-radius:40px;
	display:inline-block;
	
	position: relative;
/*	overflow:hidden;*/
}
#coluna1{
	margin-left: 134px;
	top: -430px;
}
#coluna2{
	top: -430px;
}
#coluna3{
	top: -430px;
}
.card{
	width:224px;
	height:299px;
	border-radius:5px;
	margin-bottom:1px;
	position: relative;
/*	background-color:rgba(255,255,255,.2);*/
}

/*----------IDS DAS CARTAS ---------*/
.c1{
	background-image:url(../img/c0001.png);
}
.c2{
	background-image:url(../img/c0002.png);
}
.c3{
	background-image:url(../img/c0003.png);
}
.c4{
	background-image:url(../img/c0004.png);
}
.c5{
	background-image:url(../img/c0005.png);
}
.c6{
	background-image:url(../img/c0006.png);
}
.c7{
	background-image:url(../img/c0007.png);
}
.c8{
	background-image:url(../img/c0008.png);
}
.c9{
	background-image:url(../img/c0009.png);
}
.c10{
	background-image:url(../img/c0010.png);
}
.c11{
	background-image:url(../img/c0011.png);
}
.c12{
	background-image:url(../img/c0012.png);
}
.c13{
	background-image:url(../img/c0013.png);
}
.c14{
	background-image:url(../img/c0014.png);
}
.c15{
	background-image:url(../img/c0015.png);
}
.c16{
	background-image:url(../img/c0016.png);
}
.c17{
	background-image:url(../img/c0017.png);
}
.c18{
	background-image:url(../img/c0018.png);
}
.c19{
	background-image:url(../img/c0019.png);
}
.c20{
	background-image:url(../img/c0020.png);
}
.c21{
	background-image:url(../img/c0021.png);
}
.c22{
	background-image:url(../img/c0022.png);
}
.c23{
	background-image:url(../img/c0023.png);
}
.c24{
	background-image:url(../img/c0024.png);
}
.c25{
	background-image:url(../img/c0025.png);
}
.c26{
	background-image:url(../img/c0026.png);
}
.c27{
	background-image:url(../img/c0027.png);
}
.c28{
	background-image:url(../img/c0028.png);
}
.c29{
	background-image:url(../img/c0029.png);
}
.c30{
	background-image:url(../img/c0030.png);
}